<ion-view title="CONTACT"" class="resource-view">
     <ion-nav-bar class=" bar-assertive">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear" style=" margin-left: 7px;"  ng-click="goBack()">
               <img style="width: 11px;" ng-src="img/back_icon.png">
            </button>
           
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear" ng-click="goProfile()">
                <img class="profile_icon" src="img/profile_act.png">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content style="padding-left: 5%; padding-right:5%;">
      <div class="category">
          THE WHOSOEVERS
      </div>
      <div class="content">
          <p>22324 Golden Springs Dr.</p>
          <p>Diamond Bar, Ca 91765</p>
          <p>Phone:<span style="color: #0000ff;">(844) 428-6275</span></p>
      </div>
      <div class="category">
          OFFICE HOURS
      </div>
      <div class="content">
          <p>Monday - Friday, 9 AM - 6PM PST </p>
      </div>
      <div class="category">
          EMAIL
      </div>
      <div class="content">
          <p>General Inquiries and Press:</p>
          <p><span style="color: #0000ff;">info@thewhosoevers.com</span></p>
      </div>
      
      <div class="content1">
          <p>Sales & Shipping</p>
          <p><span style="color: #0000ff;">customerservice@thewhosoevers.com</span></p>
      </div>
      <div class="category">
          <p>SOCIAL</p>
                    <div class="row" style="width: 60%; ">
                <button class="col button button-clear icon ion-social-facebook"></button>
                 <button class="col button button-clear icon ion-social-twitter"></button>
                  <button class="col button button-clear icon ion-social-googleplus"></button>
                   <button class="col button button-clear icon ion-social-pinterest"></button>
            </div>
          
      </div>


      

   
      
  </ion-content>
</ion-view>
