<div style='width: 100%; height: 100%'>
    <img style='width: 90%; margin-left: 5%; margin-top: 40px;  height: 250px; object-fit: cover; object-position: 0px -260px; ' src='https://files.parsetfss.com/0693b1ef-dbce-4dc5-b0d9-b2e4d12cf0ab/tfss-dfc6f2f8-255a-4fbd-96cd-ce24cffc90be-upload.jpg'>
    <h1 style='width:90% ;margin-left:5%;'>%@ invites you to join Brizeo</h1>
    <div style='width:90% ;margin-left:5%; font-size: 25px;'>Hey, check out Brizeo!</div><br>
    <div style='width:90% ;margin-left:5%; font-size: 25px;'>It's a new activity-based social app that connects people who have a passion for travel and new experiences</div><br>
    <div style='width:90% ;margin-left:5%; font-size: 25px;'>It's packed with cool features, including a Moments wall where you can share your favorite travel pics and connect with unique people all over the world.</div><br>
    <div style='width:90% ;margin-left:5%; font-size: 25px;'>Join my exclusive circle and meet people who live life to its fullest.</div><br>
</div>